.step-blue-green
{
	color: #ffffff;
	background-position: -10px -90px;
}
.step1-blue-green, .boxStart-blue-green
{
	background-position: -10px -170px;
}
.nextPrevButtons .activeButton-blue-green
{
	color: #ffffff;
	background-position: -10px -70px;
}
.nextPrevButtons .activeButton-blue-green:hover
{
	background-position: -10px -130px;
}